<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lakshminarayanabr.inclass03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.lakshminarayanabr.inclass03.MainActivity" android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.lakshminarayanabr.inclass03.DisplayActivity" />
        <activity android:name="com.example.lakshminarayanabr.inclass03.EditActivity"><intent-filter>
            <action android:name="com.example.lakshminarayanabr.inclass03.intent.action.EDITVIEW" />

            <category android:name="android.intent.category.DEFAULT" /></intent-filter></activity>
    </application>

</manifest>